.showAntiBan, .showInvite, .showInformation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 41, 55, 0.6);
    z-index: 9999;
}

.modal-container {
    padding-top: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--slate900);
    border-radius: 8px;
    position: relative;
    padding: 20px;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    display: flex;
}

.modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--white);
}

.modal-close-button:hover {
    background: rgba(255, 0, 0, 0.27);
    border-radius: 8px;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--blurple400) var(--gray);
}

.modal-table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
}

.modal-option {
    padding: 12px;
    color: var(--blurple400);
}

.modal-option-body {
    padding: 12px;
    font-weight: bold;
    border-bottom: 1px solid var(--blurple400);
}

.form-admin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.server-input {
    padding: 12px;
    color: var(--blurple400);
    border-radius: 8px;
    width: 208px;
    border: none;
}

.server-input::placeholder {
    text-align: center;
    color: var(--blurple500);
}

@media (max-width: 768px) {
    .modal {
        width: 100%;
    }

    .modal-close-button {
        right: 30px;
    }

    .box-canvas {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .box-canvas {
        width: 230px;
    }
}

