.podium-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.podium-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.podium-place {
    width: 170px;
    border: 3px solid;
    border-radius: 10px;
    text-align: center;
    background: var(--grayLevel);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.leaderboard-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 10px;
}

.username {
    font-weight: bold;
    position: absolute;
    top: 75px;
}

.level {
    font-size: 14px;
    color: var(--grayText);
    margin-bottom: 5px;
}