.birthday {
    color: var(--white);
    transition: box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.settings-container {
    display: flex;
    gap: 15px;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
}

.settings-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s forwards;
    width: 90%;
}

.settings-icon {
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.settings-economy {
    background: #f39c12;
    color: #fff;
}

.settings-level {
    background: #3498db;
    color: #fff;
}

.settings-content {
    margin-left: 15px;
    width: 100%;
}

.settings-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.settings-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.xp-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.xp-fill {
    height: 100%;
    background: #3498db;
    width: 0;
    transition: width 0.5s ease-in-out;
}

.settings-dropdown {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--gray2);
    border: 1px solid #4b5563;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    scrollbar-color: var(--blurple400) var(--gray);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 992px) {
    .birthday {
        flex-direction: column;
    }

    .settings-container {
        flex-direction: column;
    }

    .settings-dropdown {
        bottom: 100%;
    }

    .settings-card {
        min-width: auto;
    }
}