<footer class="footer">
    <div class="footer-content">
        <p class="footer-text">
            Copyright © <%=new Date().getFullYear()%>. Tous droits réservés.
        </p>
    </div>
</footer>